* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100vw;
  height: 85px;
  background-color: rgb(60, 78, 224);
  z-index: 998;
  top: 0;
}

header img {
  z-index: 999;
  height: 50px;
  height: 32px; 
  margin-top: 26.5px; 
  margin-left: 3rem;
}

main {
  margin-top: 85px; 
  background-color: fefefa;
}